/*Global*/
body {
  margin: 0;
  padding: 0;
}
body,
p,
h1,
h2,
h3,
h4,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: 0;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}
button {
  background: 0;
  border: 0;
  padding: 0;
}

/*Color*/
:root {
  --co-0: #ffffff;
  --co-1: #a6a6a6;
  --co-2: #ff3131;
  --co-3: #ff9d9d;
  --co-4: #c5e5ff;
  --co-5: #46a5f1;
  --co-6: #ff751f;
  --co-7: #000000;
}

.co-0 {
  color: var(--co-0);
}
.co-1 {
  color: var(--co-1);
}
.co-2 {
  color: var(--co-2);
}
.co-3 {
  color: var(--co-3);
}
.co-4 {
  color: var(--co-4);
}
.co-5 {
  color: var(--co-5);
}
.co-6 {
  color: var(--co-6);
}
.co-7 {
  color: var(--co-7);
}

/*Typography*/
.font-1-s {
  font:
    300 2.825rem/1 "Bree Serif",
    serif;
}
.font-1-xs {
  font:
    300 1.025rem/1 "Inter",
    sans-serif;
}
.font-2-xs {
  font:
    700 1.025rem/1 "Inter",
    sans-serif;
}
.font-3-xs {
  font:
    100 clamp(1.1rem, 1.5vw, 1.515rem) "Inter",
    sans-serif;
}
.font-4-xs,
.font-5-xs {
  font:
    300 clamp(0.5rem, 5vw + 0.05rem, 0.965rem) "Inter",
    sans-serif;
}
.font-5-xs {
  font-weight: 700;
}
.font-1-ab {
  font:
    600 1.025rem/1 "Inter",
    sans-serif;
  text-transform: uppercase;
}
.font-2-ab {
  font:
    700 clamp(2.2rem, 4vw, 3.5rem)/1.25 "Inter",
    sans-serif;
  white-space: nowrap;
}
.font-3-ab {
  font:
    100 1.1rem/1.25 "Inter",
    sans-serif;
  letter-spacing: 1.215px;
}
.font-4-ab {
  font:
    100 1.25rem/1.6 "Inter",
    sans-serif;
  letter-spacing: 1.215px;
}
.font-5-ab {
  font:
    700 0.9rem/1.3 "Inter",
    sans-serif;
}
.font-6-ab {
  font:
    100 1.15rem/1.3 "Inter",
    sans-serif;
  letter-spacing: 1.215px;
}
.font-7-ab {
  font:
    700 2.5rem/1.1 "Inter",
    sans-serif;
}
.font-8-ab {
  font:
    700 clamp(0.7rem, 4.8vw, 1.9rem)/1.1 "Inter",
    sans-serif;
  letter-spacing: 1px;
}
.font-9-ab {
  font:
    700 1.1rem/1.1 "Inter",
    sans-serif;
  letter-spacing: 1px;
}
@media (max-width: 700px) {
  .font-7-ab {
    font:
      700 clamp(1.6rem, 6vw, 2.5rem) "Inter",
      sans-serif;
  }
  @media (max-width: 394px) {
    .font-2-ab {
      font-size: clamp(1.1rem, 8vw, 2.2rem);
    }
  }
}

/*Container*/
.container {
  display: grid;
  grid-template-columns: minmax(190px, 1fr) 5fr 1fr;
  grid-template-areas:
    "Header Header Header"
    "Plans Content Ad"
    "Footer Footer Footer";
  background: url(./img/background/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
@media (max-width: 1400px) {
  .container {
    grid-template-areas:
      "Header Header Header"
      "Plans Content Content"
      "Ad Ad Ad"
      "Footer Footer Footer";
  }
}
@media (max-width: 1105px) {
  .container {
    grid-template-areas:
      "Header Header Header"
      "Plans Plans  Plans"
      "Content Content Content"
      "Ad Ad Ad"
      "Footer Footer Footer";
  }
}

/*Header*/
.header {
  grid-area: Header;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  padding: 30px 60px;
  background-color: var(--co-7);
}
.header button {
  justify-self: end;
}
.header button a {
  padding: 15px 30px;
  background: var(--co-6);
  border-radius: 2px;
  transition: 0.2s ease-in;
}
.header button a:hover {
  background: #af5116;
}
.header-nav {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 20px;
}
.header-nav li a {
  padding: 5px;
}
@media (max-width: 745px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
  .header button {
    justify-self: center;
  }
}
@media (max-width: 453px) {
  .header-nav {
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
  }
}

/*Plans*/
.plans {
  grid-area: Plans;
}
.plans-container {
  overflow-x: auto;
  padding: 20px;
  display: grid;
  gap: 20px;
}
.plans-container li {
  word-break: normal;
  background: #0b0b0b;
  border-radius: 4px;
  padding: 20px 30px;
}
.plans-container li img {
  margin-bottom: 5px;
  max-width: 21px;
}
.plans-container li h2 {
  margin-bottom: 5px;
}
.plans-container li p {
  margin-bottom: 20px;
}
.plans-container li a {
  position: relative;
  justify-self: center;
}
.plans-container li a::after {
  content: "→";
  color: #b4b4b4;
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}
.plans-container li a:hover:after {
  content: "→";
  transform: translateX(5px);
}
@media (max-width: 1105px) {
  .plans-container {
    grid-template-columns: repeat(5, auto);
  }
  .plans {
    justify-self: inherit;
  }
  .plans li {
    min-width: 132px;
  }
}

/*Content*/
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: Content;
  background: #0b0b0b;
  gap: 50px;
  padding: 100px 50px;
}
.content-item1 h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.content-item1 h1 {
  margin-bottom: 20px;
}
.content p:nth-of-type(1) {
  grid-column: span 2;
}
.content-item2-extra {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, max-content));
  justify-content: start;
  gap: 25px;
  margin-bottom: 35px;
}
.content-item2-extra span {
  display: block;
  text-align: center;
  background-color: var(--co-6);
  padding: 25px 5px;
  border-radius: 4px;
}
.content-item2 {
  align-self: flex-end;
}
.content-item2 p {
  margin-bottom: 25px;
}
.content img:nth-last-of-type(1) {
  max-height: 800px;
  align-self: flex-end;
  justify-self: right;
}
.content-item3 {
  margin-top: 100px;
  grid-column: span 2;
  text-align: center;
}
.content-item3 span {
  position: relative;
}
.content-item3 span::before {
  content: "";
  position: absolute;
  background-color: var(--co-0);
  height: 1px;
  width: 300px;
  top: 100px;
  left: 90px;
}
.content-equipament {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-column: span 2;
}
.content-item4 {
  text-align: center;
  background-color: var(--co-6);
  border-radius: 4px;
  padding: 10px;
  grid-column: span 2;
}
.content-item4 p {
  margin-bottom: 10px;
}
.content-item4 a {
  background-color: var(--co-7);
  padding: 10px 20px;
  border-radius: 2px;
}
@media (max-width: 700px) {
  .content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .content p:nth-of-type(1),
  .content-item3,
  .content-equipament,
  .content-item4 {
    grid-column: 1;
  }
  .content-item2-extra {
    justify-content: center;
  }
  .content img:nth-last-of-type(1) {
    justify-self: center;
  }
}
@media (max-width: 700px) {
  .content-item3 span::before {
    display: none;
  }
}
@media (max-width: 406px) {
  .content-equipament {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }
  .content-equipament li:nth-child(3) {
    justify-self: center;
    grid-column: span 2;
  }
  @media (max-width: 372px) {
    .content-item2-extra {
      grid-template-columns: 1fr;
    }
  }
}
/*Aside*/
.aside {
  grid-area: Ad;
}
